.hero{
    /* height: 100%; */
    background-image: url(./img/hero-graph.png);
}

.hero-img{
    /* height: 700px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/Home.png);
}